[submodule "public/extlib/bootstrap"]
	path = public/extlib/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "public/extlib/novnc"]
	path = public/extlib/novnc
	url = https://github.com/kanaka/noVNC.git
[submodule "extlib/websockify"]
	path = extlib/websockify
	url = https://github.com/kanaka/websockify.git
